<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>테스트</title>
        <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">
    </head>
    <body>
        <h1>
            <a href="http://my.pythontest.kro.kr">네이버</a>
            <!--attributes-->
        </h1>
        <h2>검색창</h2>
        <fieldset>
            <legend>검색</legend>
            <input />
            <button>검색</button>
        </fieldset>
        <textarea></textarea>
        <input type="checkbox" />
        <input type = "radio" name = "group"/>
        <input type = "radio" name = "group"/>
        <h2>실시간 검색어</h2>
        <h3>로그인</h3>
        <h3>뉴스</h3>
        <h3>법률</h3>
        <h3>쇼핑</h3>
    </body>
</html>